/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import "./mixins";
@import "./colors";

$main-font: 'Roboto Slab', serif;

body {
	margin: auto;
	font-family: $main-font;
}
