@import "../../../styles/main.scss";

.event-card {
	width: 100%;
	clear: both;
	&-description {
		min-height: 60px;
	}
	&-details {
		color: $success-color;
		padding-left: 5px;
		&--late {
			color: $alert-color;
		}
		&--early {
			color: $primary-color;
		}
	}
}
