/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

$main-font: 'Roboto Slab', serif;

body {
	margin: auto;
	max-width: 1024px;
	font-family: $main-font;
}
